@charset "UFT-8";   

* {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100vw;
}

a {
    display: block;
    padding: 7px;
    background-color: brown;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    color: wheat;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    background-color: rgb(201, 2, 2);
}