@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font1: 'Verdana' , 'sans-serif';
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

html, body {
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    margin: auto;
}

header > p {
    padding-bottom: 50px;
    font-size: 2.5vw;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    text-shadow: 2px 2px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.623);
    background-attachment: fixed;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

#img02{ 
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 5px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px;
}