@charset "UTF-8";

body {
    background-color: rgb(102, 102, 235);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    border: 1px solid black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}